/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
Author's custom styles
========================================================================== */

#header {
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
}

.button {
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(222, 184, 135, 0.8);
    border: 2px solid rgba(200, 154, 135, 0.6);
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button a {
    text-decoration: none;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#grafica {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.95);

}

#footer {
    clear: both;
    padding-top: 10%;

    text-align: center;

}

#centerDivs {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Las clases que empiecen o tengan rightHeader */
input[class^='rightHeader'], input[class*=' rightHeader'] {
    float: right;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;

    min-height: 0;
    font-size: 100%;
    border: 1px solid #FDF8E4;
    background: #846733;
    color: #ffffff;
}

#notes {
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 24px;
    border-radius: 5px;
    border: groove rgba(255, 255, 200, 0.5);
    background-color: rgba(0, 200, 100, 0.6);
}

#contenedor {
    width: 100%;
    padding-top: 3%;
}

#leftComentarios {
    float: left;
    width: 50%;
    margin-left: 10%;
}

#rightComentarios {
    float: left;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
    line-height: 200%;
    width: 25%;

    background-color: rgba(221, 255, 241, 0.38);
}

.cabecera_comentario {
    width: 80%;
    background-color: rgba(0, 200, 100, 0.6);
}

.nombre {
    padding-left: 1%;
    font-weight: bold;
}

.comentario {
    text-align: justify;
    text-indent: .7%;
    background-color: rgba(221, 255, 241, 0.38);
    margin-left: 3%;
    margin-right: 10%;
}
